<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="ion-padding-horizontal">Upcoming</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-show-backdrop
    [recentMovies]="upcoming"
  ></app-slides-show-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="ion-padding-horizontal">
          Populars
          <ion-icon
            class="popular-heart"
            slot="icon-only"
            name="heart"
          ></ion-icon>
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-show-peers [popularMovies]="popularis" ></app-show-peers>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="ion-padding-horizontal">What people see</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-show-backdrop
    [recentMovies]="trending"
  ></app-slides-show-backdrop>

</ion-content>
