<ion-content>
  <ion-card>
    <ion-avatar>
      <img src="" alt="">
    </ion-avatar>
    <ion-list>
      <ion-item>
        <ion-input  placeholder="Name" class="register-input-name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Email" class="register-input-email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input clear-on-edit="true" placeholder="Password" class="login-input" [type]="fieldTextType ? 'text' : 'password'"></ion-input>
        <ion-button class="button-eye"
        
        (click)="toggleFieldTextType($event)" 
        >
          <ion-icon *ngIf="fieldTextType === 'login--icon-eye' " class="login--icon-eye" name="eye" color="medium"></ion-icon>
          <ion-icon *ngIf="!fieldTextType === 'login--icon-eye' "   class="login--icon-eye" name="eye-off" color="medium"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button size="large" class="login-button--login">Iniciar sesion</ion-button>
    <ion-label class="login-forgot-password">¿Olvidaste la contraseña?</ion-label>
    <ion-grid >
      <ion-row >
        <ion-col class="col-login" size="6">
          <ion-label class="login-label-ask-count" >¿No tienes cuenta?</ion-label>
        </ion-col>
        <ion-col size="6">
          
          <ion-label class="login-label-register"><a href="">Registrate</a></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
